<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo list vue</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
</head>
<body>
	<div id="app">
		<div class="container">
			<table class="table table-striped table-dark">
				<thead>
					<tr>
						<th scope="col">{{"Текущих задач: "+ tasks.length}}</th>
					</tr>
				</thead>
			</table>
			<div class="form">
				<div class="input-group mb-3">
					<input class="form-control" placeholder="Новая задача..." type="text" v-model="new_task.title">
					<button class="btn btn-outline-secondary add_task__btn" @click="add_task">Добавить</button>
				</div>
			</div>
			<task @task_done="delete_task(index)" :key="index" v-for="(data,index) in tasks" :data="data" ></task>
		</div>
	</div>
</body>
<script src="main.js"></script>
</html>
